body{
background-color:brown;
color:aquamarine;
display:flex;
Justify-content: center;
align-items: center;
height:700px;
margin: 0;

}
button{
background-color: blue;
color: white;
font-family: "bai jamjurre",sans-serif;


}

. passo.ativo{
    display:block;
}
mais{
    text-align: center;
    max-widht:
    90%;

}
img {
    max-width: 90%;
}


