body{
background-color:brown;
color:aquamarine;
display:flex;
Justify-content: center;
align-items: center;
height:700px;
margin: 0;

}
button{
background-color: blue;
color: white;
font-family: "bai jamjurre",sans-serif;


}





